/* Estilos comunes para todos los tamaños de pantalla */
#btnMostrarFormulario {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 15px;
  background-color: #891d44;
  color: #e6e6e6;
  box-shadow: 0 2px 4pg rgba(0, 0, 0, 0.2);
}

#ventanaFormulario {
  display: none; /* ocultamos el elemento */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#891d44;
  width: 100%;
  height: 100%;
}

#formulario {
  display: flex; 
  flex-direction: column; /* apilamos los elementos en columnas */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%; 
  max-width: 500px; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}

#formulario h2{
  color :#e6e6e6;
}

#formulario select{
  width: 300px;
}

#formulario input {
  margin-top: 10px;
  width: 400px;
}

#formulario input[type="text"],

#formulario button {
  display: block;
  margin-bottom: 10px;
}


#productosTable {
  border-collapse: collapse;
  width: 100%;
}

#productosTable th,
#productosTable td {
  padding: 8px;
  text-align: left;
}

#productosTable th {
  background-color: #f2f2f2;
}

#productosTable tr:nth-child(even) {
  background-color: #f9f9f9; 
}

#productosTable tr:hover {
  background-color: #e6e6e6; /* colorea las filas al pasar el cursos sobre ellas */
}

#productosTable td:last-child {
  text-align: center;
}

.ventana-emergente {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

#formularioEditar {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#productosTable td img {
  width: 200px; 
  height: 150px; 
}

/* Estilos específicos para pantallas más pequeñas 768px o menor */
@media screen and (max-width: 768px) {
  #formulario {
    width: 90%;
  }
  
  #productosTable td img {
    width: 150px;
    height: 100px;
  }
}