*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    background-color: #891D44;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-color: #891D44;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:black;
    height: 2px;
    box-sizing: border-box;
    
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer ul li a{
    text-decoration: none;
    font-weight: 300;
    color: #F1FFE7;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: black;
    padding-left: 5px;
}

.footer-col .redes-sociales a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease;

}

.footer-col .redes-sociales a:hover{
    color:black;
    background-color: #ffffff;
}

/*responsive*/

@media(max-width:768px){
    .footer-col{
        width: 35%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}