:root {
  --primaryColor: #F1FFE7;
  /* color de fondo */
  --secondaryColor: #891D44;
  /* color de las tarjetas, iconos y formulario (al 40%) */
  --accentColor: #CFA116;
  /* color de los botones */

  /* textos */
  --titleColor: #000;
  /* titulos y subtitulos */
  --textColor: #1a1a1a;
  /* el resto de texto */
  --cardTitle: #fff;
  /* titulo de las tarjetas */
  --cardText: #fafafa;
  /* texto de la tarjetas */


  /* 
    *Titulo: Roboto bold 48px #000
    *Subtitulos: Roboto regular 32px 
    *Textos: Roboto regular 24px
    *Texto del header: Roboto regular 18px (line-height: 22px)

    *Tarjetas: 
      -Titutlo: Roboto bold 20px #fff
      -Texto: Roboto regular 16px #fcfcfc
  */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: var(--primaryColor);
  
}

.flex-productos-container {
  display: flex;
  margin: 50px 150px;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* align-items: center; */
  justify-content: center;
  column-gap: 35px;
  row-gap: 45px;
  margin: 50px  150px;
}

#product-title {
  grid-column: 1 / 4;
  font-family: 'Roboto', regular;
  font-size: 32px;
  text-align: justify;
}

.grid-item {
  background-color: var(--secondaryColor);
  box-shadow: 0 4px 8px 0 rgba(100, 12, 12, 0.432);
  border-radius: 10px;
  padding: 0rem;
  width: 275px;
  height: fit-content;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(97, 11, 11, 0.733);
  transform: scale(1.1);
  /*efecto para aumentar la imagen*/
  transition: all ease-in 0.3s;
}

.image-item {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
}

.card-info {
  width: 100%;
  padding: 2px 8px;
  text-align: left;
}

.card-title {
  font-family: 'Roboto', bold;
  font-size: 20px;
  color: var(--cardTitle);
}

.card-text {
  font-family: 'Roboto', regular;
  font-size: 16px;
  color: var(--cardText);
}

.btn-item {
  width: 100%;
  text-align: center;
  background-color: var(--accentColor);
  font-family: 'Roboto', bold;
  font-size: 15px;
  border: none;
  margin: 5px auto;
  padding: 5px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(100, 12, 12, 0.432);
}

.btn-item:hover {
  background-color: var(--cardText);
  color: var(--secondaryColor);
  box-shadow: 0 4px 8px 0 rgba(155, 132, 132, 0.493);
}

/*estilos  para la seccion servicios*/
#servicios-title {
  font-family: 'Roboto', regular;
  font-size: 32px;
  text-align: justify;
  margin-bottom: 50px;
}

.flex-elem-serv {
  display: flex;
  flex-direction: column;
  margin: 50px 150px;
}

.serv-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

.serv-flex-item {
  background-color: var(--secondaryColor);
  box-shadow: 0 4px 8px 0 rgba(100, 12, 12, 0.432);
  border-radius: 10px;
  padding: 0rem;
  width: 400px;
  height: fit-content;
}
.card-title-serv{
  color: var(--accentColor);
  font-family: 'Roboto', bold;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}
.card-text-serv{
  text-align: center;
  font-family: 'Roboto', regular;
  font-size: 16px;
  color: var(--cardText);
}

.image-serv {
  width: 100%;
  height: 200px; 
  border-radius: 40px 40px 5px 5px;
  margin-top: 5px;
}


/* estilos para la seccion de informacion */
#informacion{
  margin-top: 20px;
  margin-bottom: 150px;
}
.info-container{
  display: flex;
  justify-content: space-evenly;  
  
}

.info-item{
  width: fit-content;
  text-align: center;
}
.info-item > h3{
  color:cadetblue;
  font-size: large;
}
.info-item > p{
  font-size: small;
  color: darkgray;
}
.info-item > img{
  height: 100px;
}

#whatsapp > a > img{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 75px;
}